body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:1px solid black;
    margin-top: 10vh;
}
.middle{
    height: 50vh;
    overflow-y: scroll;


}
.tittle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #C4C4C4;
    border:1px solid black;
    
    
    
}
.titulo {
    margin-left: 10px;
    
    

}
.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: #C4C4C4;
    margin-left: 15vh;
    margin-right: 15vh;
    border:1px solid black;
    padding-right: 20px;
}
#textoo{
    min-height: 15vh;
    min-width: 45vh;
    padding:5px;
    margin-left: 1vh;
    
    
}
.mensagens{
    display: flex;
    min-width: 40vh;
    justify-content: end;
    align-items: flex-end;
    margin-right: 0.8vh;
}
.btn {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 110px;
    margin-left: 5px;
    background-color: #0066CC;
    color:white;
    border: 0px solid transparent;
}
.reply {
    resize: none;
    min-width: 97%;
    max-width: 30vw;
    text-size-adjust: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.8vh;
    margin-right: 0.8vh;
    margin-bottom: 0px;
    margin-top: 0.8vh;
    border:1px solid black;
    text-align: left;

}
.editar{
    background-color: #F6A75D;
    border: transparent;
}
.excluir{
    background-color: #F65D5D;
    border: transparent;
}

